<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <table class="table" >
        <thead >
            <tr >
                <th scope="col">Mês</th>
                <th scope="col">Valor Gasto</th>

            </tr>
        </thead>
        <tbody >
            <tr  *ngFor="let lancamento of porMes">
                <td>{{lancamento[0]}}</td>
                <td>R${{lancamento[1]}}</td>
               
            </tr>
        </tbody>
    </table>
   
    <br>
    <table class="table" id="tb_fatura">
        <thead >
            <tr >
                <th scope="col">Origem</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor Gasto</th>
                <th scope="col">Mês</th>

            </tr>
        </thead>
        <tbody >
            <tr  *ngFor="let lancamento of allLancamentos">
                <td>{{lancamento.origem}}</td>
                <td>{{lancamento.categoria}}</td>
                <td>{{lancamento.valor}}</td>
                <td>{{lancamento.mes_lancamento}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>


